  <div id="nav" class="nav-bar" ng-controller="NavBarController">
    <div class="status">
      <button type="button" class="button tiny radius" ng-click="$emit('showMenu', 'Pending')">
        <img class='avatar' ng-src="{{avatar}}" alt="{{user.login}}" ng-show="loading == false">
        <img class='avatar' ng-src="<%= image_path('spinner.gif', class: 'spinner') %>" alt="{{user.login}}" ng-show="loading == true">

        {{user.login}}
        <span class="caret"></span>
      </button>
    </div>

  </div>
