<!DOCTYPE html>
<html data-ng-app='Application'>
<head>
  <title>Arturo.io</title>
  <%= stylesheet_link_tag    "editor" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
<%= yield %>
<script type="text/javascript" src="//use.typekit.net/jov4cdg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
